*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

:root {
    --accent: #7BFFE9;
    --text-primary: #000000;
    --text-secondary: #646464;
    --white-text: #FFFFFF;
    --dark-mode: #2A3B49;
    font-family: 'Montserrat', sans-serif;
}